* {
  font-family: "Monda", sans-serif;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: "Electrolize", sans-serif;
}

:root {
  --dark-color: #0b3f9a;
  --light-color: #458fea;
  --accent-color: #fee507;
}

.text-dark-blu {
  color: var(--dark-color);
}

.text-light-blu {
  color: var(--light-color);
}

.text-accent {
  color: var(--accent-color);
}

.bg-dark-blu {
  background-color: var(--dark-color);
}

.bg-light-blu {
  background-color: var(--light-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerTitle {
  position: absolute;
  z-index: 999;
  top: 40vh;
}

.item1 {
  background: linear-gradient(
      var(--dark-color),
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 1)
    ),
    url(/media/header-2.jpg);
}

.item2 {
  background: linear-gradient(
      var(--dark-color),
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 1)
    ),
    url(/media/header-1.jpg);
}

.item3 {
  background: linear-gradient(
      var(--dark-color),
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 1)
    ),
    url(/media/header-3.jpg);
}

.text-shadow-custom {
  text-shadow: 5px 5px 11px rgba(0, 0, 0, 1);
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border: 1px solid black !important;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-indicators [data-bs-target].active {
  opacity: 1;
  background: var(--dark-color);
}

.carousel-indicators {
  justify-content: flex-end !important;
}

#navbar {
  transition: 0.4s;
}

.rotate-45 {
  transform: rotate(90deg);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--accent-color) !important;
  font-weight: bold;
  background-color: transparent !important;
  text-shadow: 5px 5px 11px rgba(0, 0, 0, 1);
}
